<section class="container">
  <h1 class="large text-primary">Add An Experience</h1>
  <p class="lead">
    <i class="fas fa-code-branch"></i> Add any developer/programming positions
    that you have had in the past
  </p>
  <small>* = required field</small>
  <form class="form">
    <div class="form-group">
      <input
        type="text"
        id="jobTitle"
        placeholder="* Job Title"
        name="title"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        id="company"
        placeholder="* Company"
        name="company"
        required
      />
    </div>
    <div class="form-group">
      <input type="text" id="location" placeholder="Location" name="location" />
    </div>
    <div class="form-group">
      <h4>From Date</h4>
      <input type="date" id="experienceStart" name="from" />
    </div>
    <div class="form-group">
      <p>
        <input type="checkbox" name="current" value="true" id="isCurrentJob" />
        Current Job
      </p>
    </div>
    <div class="form-group">
      <h4>To Date</h4>
      <input type="date" id="experienceEnd" name="to" />
    </div>
    <div class="form-group">
      <textarea
        name="description"
        cols="30"
        rows="5"
        placeholder="Job Description"
        id="jobDescription"
      ></textarea>
    </div>
    <input
      type="button"
      class="btn btn-primary my-1"
      id="btnAddExperience"
      value="Submit"
    />
    <a class="btn btn-light my-1" href="/dashboard">Go Back</a>
  </form>
</section>
